<!doctype html>
<html>
  <p><img src="/Images/Re-wedd_logo.png" width= "150" alt="">
    <form GET="POST" action="/logout">
      <button type="submit" value="logout">Logout</button>
      </form></p>
  <p>
    <a href="/">Back to home</a>
    <a href="about">About <%=shopName%></a>
    <a href="register">Register to <%=shopName%></a>
    <a href="login">Login</a>
    <a href="photographer">Photographer</a>
  </p>

  <head>
    <title>Add Photographer to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Add Photographer  to <%=shopName%></h1>
    <form method="POST" action="/Photographeradded">
        <p><small>(The name of the photographer)</small></p>
        <p>Photographer name: <input id="name" type="text" name="name" value="" /></p>
        <p><small>(The company name)</small></p>
        <p>Company Name: <input id="company" type="text" name="company" value="" /></p>
        <p>Price of printed copy: <input id="packpc" type="text" name="packpc" value="" /></p>
        <p>Price of digital copy: <input id="packdc" type="text" name="packdc" value="" /></p>
        <p>Number of camera people: <input id="Nocampm" type="text" name="Nocampm" value="" /></p>
        <p>Other information: <input id="otherinfo" type="text" name="otherinfo" value="" /></p>
        <p><small>(The salt will have to be a floating point number in the form of a decimal)</small></p>
      <input type="submit" value="Add Food" />
      </form>
  </body>
</html>

