<!doctype html>
<html>
  <p><img src="/Images/Re-wedd_logo.png" width= "150" alt="">
    <form GET="POST" action="/logout">
      <button type="submit" value="logout">Logout</button>
      </form></p>
  <p>
    <a href="/">Back to home</a>
    <a href="about">About <%=shopName%></a>
    <a href="register">Register to <%=shopName%></a>
    <a href="login">Login</a>
    <a href="photographer">Photographer</a>
    
</p>
  <head>
    <title>Login to you account from <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%>: Login to your account</h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id = "username" type = "text" name = "username" value = "username" /></p>
        <p>Password: <input id = "password" type = "text" name = "password" value = "password" /></p>
      <input type="submit" value="Login" />
    </form>
  </body>
</html>

