<html>
  <body>
    <p><img src="/Images/Re-wedd_logo.png" width= "150" alt="">
      <form GET="POST" action="/logout">
        <button type="submit" value="logout">Logout</button>
        </form></p>
    <p>
      <a href="/">Back to home</a>
      <a href="about">About <%=shopName%></a>
      <a href="register">Register to <%=shopName%></a>
      <a href="login">Login</a>
      <a href="photographer">Photographer</a>
     </p>
  
  <title>Register for <%=shopName%></title>
  <link rel="stylesheet" type="text/css" href="main.css">


  <h1>Register for <%=shopName%></h1>
  <form method="POST" action="/registered">
      <p>First name: <input id="First" type="text" name="First" value="first name"></p>
      <p>Last name: <input id="Last" type="text" name="Last" value="last name"></p>
      <p>Email: <input id="email" type="email" name="email" value="email"></p>
      <p><small>(Username must contain 00 and be of length 6, e.g. 'test00')</small></p>
      <p>Username: <input id="username" type="username" name="username" value=""></p>
      <p><small>(Password must be at least 8 characters long and be alphanumerical)</small></p>
      <p>Password: <input id="password" type="password" name="password" value=""></p>
      <p>Spouse First Name: <input id="Spousefname" type="text" name="Spousefname" value=""></p>
      <p>Spouse Last Name: <input id="Spouselname" type="text" name="Spouselname" value=""></p>
      <p>Planner First Name: <input id="Plannerfname" type="text" name="Plannerfname" value=""></p>
      <button type="submit" id="register" value="Register">Register</button>
    </form>
</body>
</html>