<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="main.css" />
    <title>Add Photographer </title>
  </head>
  <navMenu>
    <a href="/" class="lg"><img src="/Images/onestep.png" width="150" height="120" alt=""></a>
    <!-- <a href="#" class="logo"></a> -->
    <input type="checkbox" id="mba">
    <label for="mba">Menu Bar</label>

    <nav class="navigation">
      <ul>
        <li><a href="about">About</a></li>
        <li><a href="#">Wedding </a>
          <ul>
            <li><a href="#">Photographer </a>
              <ul>
                <li><a href="photographer">List</a></li>
                <li><a href="addPhotographer">Add</a></li>
                <li><a href="editPhotographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Videographer </a>
              <ul>
                <li><a href="videographer">List</a></li>
                <li><a href="addVideographer">Add</a></li>
                <li><a href="editVideographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Venue </a>
              <ul>
                <li><a href="venue">List</a></li>
                <li><a href="addVenue">Add</a></li>
                <li><a href="editVenue">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Cake </a>
              <ul>
                <li><a href="cake">List</a></li>
                <li><a href="addCake">Add</a></li>
                <li><a href="editCake">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Florist </a>
              <ul>
                <li><a href="florist">List</a></li>
                <li><a href="addFlorist">Add</a></li>
                <li><a href="editFlorist">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Transport </a>
              <ul>
                <li><a href="transport">List</a></li>
                <li><a href="addTransport">Add</a></li>
                <li><a href="editTransport">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Religious Location </a>
              <ul>
                <li><a href="religious">List</a></li>
                <li><a href="addReligious">Add</a></li>
                <li><a href="editReligious">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Wedding function </a>
              <ul>
                <li><a href="wFunction">List</a></li>
                <li><a href="addwFunction">Add</a></li>
                <li><a href="editwFunction">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Itinerary</a>
              <ul>
                <li><a href="itinerary">List</a></li>
                <li><a href="addItinerary">Add</a></li>
                <li><a href="editItinerary">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Budget</a>
              <ul>
                <li><a href="budget">List</a></li>
                <li><a href="addBudget">Add</a></li>
                <li><a href="editBudget">Edit</a></li>
              </ul>
              </li>
          </ul>
        </li>
        <li><a href="#">Account</a>
          <ul>
            <li><a href="myAccount">My Account</a></li>
            <li><a href="editAcc">Edit Account</a></li>
            <li><a href="updateSpouse">Update Spouse</a></li>
            <li><a href="updateWeddPlanner">Update Wedding Planner</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
          </ul>
        </li>
        <li><a href="#">Login</a>
          <ul>
            <li><a href="login">Spouse Login</a></li>
            <li><a href="wlogin">Planner Login</a></li>
            <li><a href="Guest">Guest Login</a></li>
          </ul>
        </li>
        <li><a href="#">Wedding Planner</a>
          <ul>
            <li><a href="wRegister">Register</a></li>
            <li><a href="wLogin">Login</a></li>
            <li><a href="#">Photographer </a>
              <ul>
                <li><a href="sPhotographer">List</a></li>
                <li><a href="pAdding">Add</a></li>
                <li><a href="dPhotographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Videographer </a>
              <ul>
                <li><a href="sVideographer">List</a></li>
                <li><a href="vAdding">Add</a></li>
                <li><a href="dVideographer">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Venue </a>
              <ul>
                <li><a href="sVenue">List</a></li>
                <li><a href="veAdding">Add</a></li>
                <li><a href="dVenue">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Cake </a>
              <ul>
                <li><a href="sCake">List</a></li>
                <li><a href="cakeAdding">Add</a></li>
                <li><a href="dCake">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Florist </a>
              <ul>
                <li><a href="sFlorist">List</a></li>
                <li><a href="FloristAdding">Add</a></li>
                <li><a href="dFlorist">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Transport </a>
              <ul>
                <li><a href="sTransport">List</a></li>
                <li><a href="TransportAdding">Add</a></li>
                <li><a href="dTransport">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Religious Location </a>
              <ul>
                <li><a href="sReligious">List</a></li>
                <li><a href="ReligiousAdding">Add</a></li>
                <li><a href="dReligious">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Wedding function </a>
              <ul>
                <li><a href="sWFunction">List</a></li>
                <li><a href="WeddingFAdding">Add</a></li>
                <li><a href="dWeddingF">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Itinerary</a>
              <ul>
                <li><a href="sItinerary">List</a></li>
                <li><a href="iAdding">Add</a></li>
                <li><a href="dItinerary">Edit</a></li>
              </ul>
            </li>
            <li><a href="#">Budget</a>
              <ul>
                <li><a href="sBudget">List</a></li>
                <li><a href="BudgetAdding">Add</a></li>
                <li><a href="dBudget">Edit</a></li>
              </ul>
            </li>
          
          </ul>
        </li>
        <li>
          <form GET="POST" action="/logout">
            <button id="logout" name="logout" type="submit">logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </navMenu>
  <body>
    <h1>Add Photographer</h1>
    <form method="POST" action="/PADDP">
        <p><small>(The name of the photographer)</small></p>
        <p>Photographer name: <input id="name" type="text" name="name" value="" /></p>
        <p><small>(The company name)</small></p>
        <p>Company Name: <input id="company" type="text" name="company" value="" /></p>
        <p>Price of printed copy: <input id="packpc" type="text" name="packpc" value="" /></p>
        <p>Price of digital copy: <input id="packdc" type="text" name="packdc" value="" /></p>
        <p>Number of camera people: <input id="Nocampm" type="text" name="Nocampm" value="" /></p>
        <p>Other information: <input id="otherinfo" type="text" name="otherinfo" value="" /></p>
        <p><small>Please enter the username of the person you are adding to their account</small></p>
        <p>wedding spouse username: <input id="username" type="text" name="username" value="" /></p>
        <input type="submit" value="Add Food" />
      </form>
  </body>
</html>

