.test{
  position:absolute; left:80px; top:20px;
}
button{
  position:absolute; right:80px; top:20px;
  
  height: 50px;
  width: 100px;
}
body{ 
  background-color: rgb(255, 229, 180);
}

input, button{
  color: white;
  background-color: rgb(37, 151, 22);
  font-size: 16px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #4169e1;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(30, 150, 154);
}

p,li {
    font-family: Arial, Helvetica, sans-serif;

}

a:link {
    color: #4169e1;
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    /* color: tomato; */
    color: black;
    /* color: #4169e1; */

    /* text-decoration: none; */
    text-shadow: 1.2px 0 0 #000, 0 -1.2px 0 #000, 0 1.2px 0 #000, -1.2px 0 0 #000;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: #4169e1;
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
  .button {
    font-size: 10px;
    /* background-color: blueviolet; */
  }
  #btn{
    background-color: #4169e1;}

  #btnd{
    background-color: red;}

  #search{
    background-color: darkgoldenrod;
    color: white;
  }
  #register{
    background-color: darkgoldenrod;
    color: white;
  }

  #a{
    width: auto;
  }
