<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="main.css" />
    <title>Add Transport</title>
  </head>

  <body>
    <h1>Add Transport</h1>
    <form method="POST" action="/TADDT">
      <<p>Type of Transport: <input id="type" type="text" name="type" value=""></p>
      <p>Name of transport<input id="name" type="text" name="name" value=""></p>
      <p>Company Name:<input id="compName" type="text" name="compName" value=""></p>
      <p>Company Address<input id="compAddr" type="text" name="compAddr" value=""></p>
      <p>Distance rate <small>(in £???.??)</small>: <input id="distR8" type="text" name="distR8" value=""></p>
      <p>Deposit<small>(in £???.??)</small>: <input id="dep" type="text" name="dep" value=""></p>
      <p>Total Price<small>(in £???.??)</small>: <input id="totP" type="text" name="totP" value=""></p>
      <p>Spouse username: <input id="username" type="text" name="username" value="" /></p>
        <input type="submit" value="Add Food" />
      </form>
  </body>
</html>

